[project]
	description = Personal studies around nearest neighbor algorithm
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Guillaume (JoeTheDentist)
[access "refs/for/refs/*"]
	read = group user/Guillaume (JoeTheDentist)
	push = group user/Guillaume (JoeTheDentist)
	label-Code-Review = -2..+2 group user/Guillaume (JoeTheDentist)
	label-Verified = -1..+1 group user/Guillaume (JoeTheDentist)
	rebase = group user/Guillaume (JoeTheDentist)
	removeReviewer = group user/Guillaume (JoeTheDentist)
	submit = group user/Guillaume (JoeTheDentist)
[access "refs/heads/*"]
	read = group user/Guillaume (JoeTheDentist)
	create = group user/Guillaume (JoeTheDentist)
	push = +force group user/Guillaume (JoeTheDentist)
	pushMerge = group user/Guillaume (JoeTheDentist)
[access "refs/tags/*"]
	push = +force group user/Guillaume (JoeTheDentist)
	pushTag = group user/Guillaume (JoeTheDentist)
	pushSignedTag = group user/Guillaume (JoeTheDentist)
